@import 'loginstyle.css';
@import 'shop.css';
@import 'product.css';
@import 'edit.css';

body{
    background: #252830;
}
html{
    height: 100%;
}

#uniFooter{
    margin-top: auto;
    width: 100%;
}

#itemNumber{
    background-color: blue;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    color: white;
}
#outOfStock{
    color: red;
}
#orderListing{
    box-shadow: 0 2px 20px rgba(0,0,0,0.5);
    border: 1px solid black;
    background-color: ghostwhite;
    width: 80%;
    min-height: 300px;
}

#main{
    margin: auto;
    width: 90%;
}

#checkOut{
    width: 100%;
    background-color: white;
}

.rowItem{
    border: 1px solid black;

}

#navBar a{
    text-decoration: none;
}


