@import 'loginSytle.css';
@import 'shop.css';
@import 'custom.css';
@import 'product.css';

body{
    background: #252830;
}
html{
    height: 100%;
}

#uniFooter{
    margin-top: auto;
    width: 100%;
}

#itemNumber{
    background-color: blue;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    color: white;
}

#main{
    margin: auto;
    width: 90%;
}

#checkOut{
    width: 50%;
    background-color: white;
    text-align: center;
}

.rowItem{
    border: 1px solid black;

}

#navBar a{
    text-decoration: none;
}


